<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942647384547-b64n74ujprnihru2knrt0qp4f9ft7e97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942647384547-b64n74ujprnihru2knrt0qp4f9ft7e97</string>
	<key>API_KEY</key>
	<string>AIzaSyDrhkp2-ho6TvCYvvBxHua3dopAqz7_4rY</string>
	<key>GCM_SENDER_ID</key>
	<string>942647384547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chethan.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ac8d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ac8d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942647384547:ios:66b139bda0b91105fda8d6</string>
</dict>
</plist>